<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">
    <featureManager>
<!--        <feature>javaee-7.0</feature>-->
        <feature>jaxrs-2.0</feature>
        <feature>servlet-3.1</feature>
        <feature>jsonp-1.0</feature>
        <feature>cdi-1.2</feature>
        <feature>microProfile-1.4</feature>
        <feature>localConnector-1.0</feature>

        <feature>j2eeManagement-1.1</feature> <!-- Optional, needed to allow injection on ArquillianResources related to servlets -->
        <feature>usr:arquillian-support-1.0</feature> <!-- Optional, needed for reliable reporting of correct DeploymentExceptions -->
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" httpPort="9080" httpsPort="9443"/>

    <applicationManager autoExpand="true"/>
</server>