<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>JEE 7 Examples</display-name>

    <servlet>
        <servlet-name>nl.tsai.javaee.resource.v2.RestV2Application</servlet-name>
    </servlet>

    <!-- override v2 path with v2-overridden, must use full package name -->
    <servlet-mapping>
        <servlet-name>nl.tsai.javaee.resource.v2.RestV2Application</servlet-name>
        <url-pattern>/api/v2-overridden/*</url-pattern>
    </servlet-mapping>

</web-app>